Flask
gunicorn
opencv-python-headless
numpy
pillow
tensorflow
Flask-Login
Flask-SQLAlchemy
flask-wtf
joblib
nltk
pandas
matplotlib
wordcloud
scikit-learn==1.5.1
textblob
sqlalchemy
werkzeug
wtforms
networkx
