{% extends "base.html" %}

{% block title %}View Uploaded Images{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Your Uploaded Medical Images</h2>
  <div class="row">
    {% for record in records %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{ url_for('static', filename=record.image_path) }}" class="card-img-top" alt="Medical Image">
        
        <div class="card-body">
          <p class="card-text">Uploaded </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
